*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.back__kalakonchik{
    width: 100%;
    height: 800px;
    background: black;
    overflow: hidden;
}
.kalakonchik1{
    width: 120px;
    height: 120px;
    background: goldenrod;
    border-radius: 60px;
    transform: translate(580px, 80px);
}
.kalakonchik2{
    width: 120px;
    height: 60px;
    background: goldenrod;
    transform: translate(580px, 20px);
}
.kalakonchik3{
    width: 350px;
    height: 350px;
    background: rgb(199, 109, 18);
    border-radius: 50%;
    transform: translate(465px, -30px);
}
.kalakonchik4{
    width: 350px;
    height: 200px;
    background: rgb(199, 109, 18);
    border-radius: 30px;
    transform: translate(465px, -220px);
}
.kalakonchik__div{
    width: 400px;
    height: 200px;
    margin: auto;
    transform: translateY(200px);
    overflow: hidden;
}
.kalakonchik5{
    width: 200px;
    height: 200px;
    background: rgb(138, 90, 28);
    border-radius: 50%;
    transform: translate(75px, -90px);
}
.back__tabiat{
    width: 100%;
    height: 600px;
    background: rgb(31, 31, 31);
    position: relative;
}
.tabiat1{
    width: 400px;
    height: 500px;
    background: goldenrod;
    margin: auto;
    border-radius: 250px 250px 20px 20px;
    position: relative;
    position: absolute;
    top: 50px;
    left: 440px;
    z-index: 1;
    overflow: hidden;
}
.tabiat2{
    width: 150px;
    height: 150px;
    background: rgb(245, 231, 153);
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 125px;
    z-index: 2;
}
.tabiat3{
    width: 500px;
    height: 500px;
    background: rgb(199, 109, 18);
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: -200px;
    z-index: 3;
}
.tabiat4{
    width: 500px;
    height: 500px;
    background: rgb(138, 90, 28);
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 120px;
    z-index: 4;
}
.back__smile{
    width: 100%;
    height: 600px;
    background: rgb(1, 1, 80);
    position: relative;
}
.smile1{
    width: 550px;
    height: 550px;
    border-radius: 300px 300px 70px 70px;
    background: rgba(201, 65, 65, 0.945);
    position: relative;
    position: absolute;
    top: 25px;
    left: 400px;
    overflow: hidden;
}
.smile2{
    width: 400px;
    height: 400px;
    background: rgb(245, 231, 153);
    border-radius: 50%;
    position: absolute;
    top: -200px;
    left: -130px;
}
.smile3{
    width: 400px;
    height: 400px;
    background: rgb(245, 231, 153);
    border-radius: 50%;
    position: absolute;
    top: -200px;
    left: 270px;
}
.smile4{
    width: 170px;
    height: 170px;
    background: rgb(245, 231, 153);
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 50px;

}
.smile5{
    width: 170px;
    height: 170px;
    background: rgb(245, 231, 153);
    border-radius: 50%;
    position: absolute;
    top:250px;
    left: 320px;
}
.smile6{
    width: 150px;
    height: 40px;
    background: rgb(245, 231, 153);
    border-radius: 20px;
    position: absolute;
    top: 470px;
    left: 200px;
}
.back__person{
    width: 100%;
    height: 1200px;
    background: rgb(219, 140, 87);
    position: relative;
}
.person1{
    width: 450px;
    height: 400px;
    background: rgb(250, 243, 179);
    border-radius: 300px 300px 0 0;
    position: absolute;
    top: 25px;
    left: 430px;
}
.person2{
    width: 700px;
    height: 70px;
    background: rgb(250, 243, 179);
    border-radius: 35px;
    position: absolute;
    top: 425px;
    left: 305px;
}
.person3{
    width: 200px;
    height: 200px;
    background: rgb(250, 243, 179);
    border-radius: 50%;
    position: absolute;
    top: 600px;
    left: 400px; 
}
.person4{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 50px solid rgb(250, 243, 179);
    position: absolute;
    top: 565px;
    left: 670px;
}
.noclass1{
    width: 330px;
    height: 200px;
    position: absolute;
    top: 900px;
    left: 330px;
}
.noclass2{
    width: 330px;
    height: 200px;
    transform: rotate(180deg);
    position: absolute;
    top: 900px;
    left: 650px;
}
.back__snake{
    width: 100%;
    height: 559px;
    background: green;
}
.snakes{
    width: 400px;
    height: 50px;
    transform: translate(200px, 300px);
    display: flex;
}
.snakess{
    width: 150px;
    height: 50px;
    transform: translate(150px, 250px) rotate(90deg);
    display: flex;
}
.snake{
    width: 50px;
    height: 50px;
    background: gold;
    border-radius: 50%;
    border: 1px solid gold;
}
.snakes2{
    width: 200px;
    height: 50px;
    transform: translate(475px, 125px) rotate(90deg);
    display: flex;
}
.snakes3{
    width: 300px;
    height: 50px;
    transform: translate(600px, 0px);
    display: flex;
}
.snakes4{
    width: 350px;
    height: 50px;
    transform: translate(700px, 150px) rotate(90deg);
    display: flex;
}
.snakes5{
    width: 100px;
    height: 50px;
    transform: translate(900px, 250px);
    display: flex;
}
.snakes6{
    width: 50px;
    height: 50px;
    transform: translate(950px, 150px);
}
.snakes7{
    width: 50px;
    height: 50px;
    transform: translate(1000px, 100px);
}
.snakes8{
    width: 50px;
    height: 50px;
    transform: translate(1000px, 0px);
}
.snakes9{
    width: 50px;
    height: 50px;
    transform: translate(1050px, -50px);
}
.snakes10{
    width: 160px;
    height: 50px;
    transform: translate(995px, -205px) rotate(90deg);
    display: flex;
}
.snakee{
    width: 65px;
    height: 60px;
    background: gold;
    border-radius: 50%;
    transform: translate(0px, -5px);
}
.eyes{
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    transform: translate(21px, 19px);
}
.mouth{
    width: 40px;
    height: 40px;
    background: green;
    transform: translate(1055px, -340px) rotate(45deg);
}
.apple{
    width: 50px;
    height: 50px;
    transform: translate(1100px, -500px);
}
.eat{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
}
.back__home{
    width: 100%;
    height: 650px;
    background: black;
    position: relative;
}
.home2{
    width: 500px;
    height: 251px;
    border: 1px solid black;
    position: relative;
    position: absolute;
    top: 20px;
    left: 400px;
    overflow: hidden;
}
.home1{
    width: 350px;
    height: 350px;
    background: white;
    border: 1px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: 75px;
    left: 75px;
}
.windowss{
    width: 70px;
    height: 150px;
    transform: rotate(45deg);
    position: absolute;
    top: 30px;
    left: 60px;
    overflow: hidden;
}
.windows1{
    width: 100px;
    height: 100px;
    background: black;
    border: 1px solid black;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    left: 20px;
}
.home3{
    width: 350px;
    height: 350px;
    background: white;
    border: 1px solid black;
    position: absolute;
    top: 270px;
    left: 475px;
}
.home4{
    width: 100px;
    height: 100px;
    background: black;
    border: 1px solid black;
    position: absolute;
    top: 60px;
    left: 125px;
}
.homee{
    width: 110px;
    height: 1px;
    background: white;
    position: absolute;
    top: 50px;
    left: -5px;
}
.hommee{
    width: 110px;
    height: 1px;
    background: white;
    transform: rotate(90deg);
    position: absolute;
    top: 50px;
    left: -5px;
}
.home5{
    width: 50px;
    height: 150px;
    background: black;
    border: 1px solid white;
    position: absolute;
    top: 199px;
    left: 125px;
}
.home6{
    width: 50px;
    height: 150px;
    background: black;
    border: 1px solid white;
    position: absolute;
    top: 199px;
    left: 175px;
}
.home7{
    width: 20px;
    height: 1px;
    background: white;
    border: 1px solid white;
    position: absolute;
    top: 50px;
    left: 40px;
}
.home8{
    width: 20px;
    height: 1px;
    background: white;
    border: 1px solid white;
    position: absolute;
    top: 50px;
    left: -10px;
}
.back__circle{
    width: 100%;
    height: 900px;
    background: darkblue;
    position: relative;
}
.circle1{
    width: 600px;
    height: 600px;
    background: dodgerblue;
    border: 1px solid black;
    position: relative;
    position: absolute;
    top: 150px;
    left: 330px;
    transition: 3s;
}
.circle1:hover{
    transform: rotate(45deg);
}
.circle2{
    width: 540px;
    height: 540px;
    background: blue;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: 3s;
}
.circle2:hover{
    transform: rotate(45deg);
}
.circle3{
    width: 480px;
    height: 480px;
    background: dodgerblue;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: 3s;
}
.circle3:hover{
    transform: rotate(45deg);
}
.circle4{
    width: 420px;
    height: 420px;
    background: blue;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: 3s;
}
.circle4:hover{
    transform: rotate(45deg);
}
.circle5{
    width: 360px;
    height: 360px;
    background: dodgerblue;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: 3s;
}
.circle5:hover{
    transform: rotate(45deg);
}
.circle6{
    width: 300px;
    height: 300px;
    background: blue;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: 3s;
}
.circle6:hover{
    transform: rotate(45deg);
}
.circle7{
    width: 240px;
    height: 240px;
    background: dodgerblue;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: 3s;
}
.circle7:hover{
    transform: rotate(45deg);
}
.circle8{
    width: 180px;
    height: 180px;
    background: blue;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: 3s;
}
.circle8:hover{
    transform: rotate(45deg);
}
.circle9{
    width: 120px;
    height: 120px;
    background: dodgerblue;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: 3s;
}
.circle9:hover{
    transform: rotate(45deg);
}
.circle10{
    width: 60px;
    height: 60px;
    background: blue;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: 3s;
}
.circle10:hover{
    transform: rotate(45deg);
}
.back__block{
    width: 100%;
    height: 559px;
    background: black;
    position: relative;
}
.block1{
    width: 500px;
    height: 250px;
    background: white;
    border-radius: 170px;
    border: 1px solid white;
    position: relative;
    position: absolute;
    top: 200px;
    left: 370px;
}
.block2{
    width: 250px;
    height: 250px;
    background: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 50%;
    transition: 2s;
}
.block2:hover{
    transform: translate(25 0px);
}